
 body{color: white;
background-color: lightgray;
padding: 2px 2px 2px 2px;}

        .mid {
            text-align: center;
            padding-bottom: 10px;
        }

  ul {
            list-style-type: none;
            margin: 0;
            padding-bottom: 0;
            overflow: hidden;
            background-color: maroon;

        }

    li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111;
        }
        
        .container1 {text-align: center;
            padding-right: 400px;
        }
        
        button {
    background-color: #4CAF50;
    color: white;
    padding: 13px 50px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
                }

        .bge    {width:350px;

        height:100px;}

        .gh {width:200px;
            }
  
  .re {text-align: left;
     
      padding: 5px 5px 5px 5px;}
  h1 {text-align: center;
  color:maroon;}
  .bi {
  padding: 5px 5px 5px 5px;}
  
  .bge1{width: 35%; height:100px;}
  
  .bge2{width:350px;

        height:100px;
  float:left;}
  
  .bge3{width;

        height:100px;
       padding-left: 500px;}
